
name: Reusable build workflow

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
        description: The architecture to build against, e.g x86_64, aarch64, s390x...
      toolchain_full:
        required: true
        type: string
        description: The toolchain and for llvm, its version, e.g gcc, llvm-15
      toolchain:
        required: true
        type: string
        description: The toolchain, e.g gcc, llvm
      runs_on:
        required: true
        type: string
        description: The runners to run the test on. This is a json string representing an array of labels.
      gcc_version:
        required: true
        type: string
        description: GCC version to install
      llvm_version:
        required: true
        type: string
        description: LLVM version to install
      kernel:
        required: true
        type: string
        description: The kernel to run the test against. For KPD this is always LATEST, which runs against a newly built kernel.
      download_sources:
        required: true
        type: boolean
        description: Whether to download the linux sources into the working directory.
        default: false
      release:
        required: false
        type: boolean
        description: Build selftest with -O2 optimization
        default: false

jobs:
  build:
    name: build kernel and selftests ${{ inputs.release && '-O2' || '' }}
    runs-on:
      - ${{ github.repository == 'kernel-patches/bpf-rc' && 'ubuntu-latest'
         || format('codebuild-bpf-ci-{0}-{1}', github.run_id, github.run_attempt) }}
      # AWS docs about image override: https://docs.aws.amazon.com/codebuild/latest/userguide/sample-github-action-runners-update-labels.html
      - image:${{ inputs.arch == 'aarch64' && 'custom-arm-ghcr.io/kernel-patches/runner:kbuilder-debian-aarch64'
               || 'custom-linux-ghcr.io/kernel-patches/runner:kbuilder-debian-x86_64' }}
    env:
        ARTIFACTS_ARCHIVE: "vmlinux-${{ inputs.arch }}-${{ inputs.toolchain_full }}.tar.zst"
        BPF_NEXT_FETCH_DEPTH: 64 # A bit of history is needed to facilitate incremental builds
        CROSS_COMPILE: ${{ inputs.arch == 's390x' && 'true' || '' }}
        BUILD_SCHED_EXT_SELFTESTS: ${{ inputs.arch == 'x86_64' || inputs.arch == 'aarch64' && 'true' || '' }}
        KBUILD_OUTPUT: ${{ github.workspace }}/kbuild-output
        KERNEL: ${{ inputs.kernel }}
        KERNEL_ROOT: ${{ github.workspace }}
        KERNEL_ORIGIN: ${{ github.repository == 'kernel-patches/bpf-rc' && 'https://github.com/kernel-patches/bpf-rc.git'
                        || 'https://github.com/kernel-patches/bpf.git'
                        }}
        KERNEL_REVISION: ${{ inputs.download_sources && 'bpf-next' || github.sha }}
        REFERENCE_REPO_PATH: /libbpfci/mirrors/linux
        REPO_PATH: ""
        REPO_ROOT: ${{ github.workspace }}
        RUNNER_TYPE: codebuild
    steps:

      - uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github
            ci

      - if: ${{ env.RUNNER_TYPE == 'codebuild' }}
        shell: bash
        run: .github/scripts/tmpfsify-workspace.sh

      - name: Download bpf-next tree @ ${{ env.KERNEL_REVISION }}
        uses: libbpf/ci/get-linux-source@v4
        env:
          FETCH_DEPTH: ${{ env.BPF_NEXT_FETCH_DEPTH }}
        with:
          dest: '.kernel'
          repo: ${{ env.KERNEL_ORIGIN }}
          rev: ${{ env.KERNEL_REVISION }}

      - name: Move linux source in place
        shell: bash
        run: |
          cd .kernel
          rm -rf .git .github ci
          mv -t .. $(ls -A)
          cd ..
          rmdir .kernel

      - uses:  libbpf/ci/patch-kernel@v4
        with:
          patches-root: '${{ github.workspace }}/ci/diffs'
          repo-root: ${{ env.REPO_ROOT }}

      - name: Setup build environment
        uses: libbpf/ci/setup-build-env@v4
        with:
          arch: ${{ inputs.arch }}
          gcc-version: ${{ inputs.gcc_version }}
          llvm-version: ${{ inputs.llvm_version }}
          pahole: master

      - name: Build kernel image
        uses: libbpf/ci/build-linux@v4
        with:
          arch: ${{ inputs.arch }}
          toolchain: ${{ inputs.toolchain }}
          kbuild-output: ${{ env.KBUILD_OUTPUT }}
          max-make-jobs: 32
          llvm-version: ${{ inputs.llvm_version }}

      - name: Build selftests/bpf
        uses: libbpf/ci/build-selftests@v4
        env:
          MAX_MAKE_JOBS: 32
          RELEASE: ${{ inputs.release && '1' || '' }}
        with:
          arch: ${{ inputs.arch }}
          kernel-root: ${{ env.KERNEL_ROOT }}
          llvm-version: ${{ inputs.llvm_version }}
          toolchain: ${{ inputs.toolchain }}

      - if: ${{ env.BUILD_SCHED_EXT_SELFTESTS }}
        name: Build selftests/sched_ext
        uses: libbpf/ci/build-scx-selftests@v4
        with:
          kbuild-output: ${{ env.KBUILD_OUTPUT }}
          repo-root: ${{ env.REPO_ROOT }}
          arch: ${{ inputs.arch }}
          toolchain: ${{ inputs.toolchain }}
          llvm-version: ${{ inputs.llvm_version }}
          max-make-jobs: 32

      - if: ${{ github.event_name != 'push' }}
        name: Build samples
        uses: libbpf/ci/build-samples@v4
        with:
          arch: ${{ inputs.arch }}
          toolchain: ${{ inputs.toolchain }}
          kbuild-output: ${{ env.KBUILD_OUTPUT }}
          max-make-jobs: 32
          llvm-version: ${{ inputs.llvm_version }}
      - name: Tar artifacts
        id: tar-artifacts
        uses: libbpf/ci/tar-artifacts@v4
        env:
          ARCHIVE_BPF_SELFTESTS: 'true'
          ARCHIVE_MAKE_HELPERS: 'true'
          ARCHIVE_SCHED_EXT_SELFTESTS: ${{ env.BUILD_SCHED_EXT_SELFTESTS }}
        with:
          arch: ${{ inputs.arch }}
          archive: ${{ env.ARTIFACTS_ARCHIVE }}
          kbuild-output: ${{ env.KBUILD_OUTPUT }}
          repo-root: ${{ env.REPO_ROOT }}
      - if: ${{ github.event_name != 'push' }}
        name: Remove KBUILD_OUTPUT content
        shell: bash
        run: |
          # Remove $KBUILD_OUTPUT to prevent cache creation for pull requests.
          # Only on pushed changes are build artifacts actually cached, because
          # of github.com/actions/cache's cache isolation logic.
          rm -rf "${KBUILD_OUTPUT}"
      - uses: actions/upload-artifact@v4
        with:
          name: vmlinux-${{ inputs.arch }}-${{ inputs.toolchain_full }}${{ inputs.release && '-release' || '' }}
          if-no-files-found: error
          path: ${{ env.ARTIFACTS_ARCHIVE }}
