name: test_progs with ASAN

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
        description: The architecture to build against, e.g x86_64, aarch64, s390x...
      toolchain_full:
        required: true
        type: string
        description: The toolchain and for llvm, its version, e.g gcc, llvm-15
      toolchain:
        required: true
        type: string
        description: The toolchain, e.g gcc, llvm
      runs_on:
        required: true
        type: string
        description: The runners to run the test on. This is a json string representing an array of labels.
      gcc_version:
        required: true
        type: string
        description: GCC version to install
      llvm_version:
        required: true
        type: string
        description: LLVM version to install

jobs:
  build:
    name: build test_progs with ASAN
    runs-on:
      - ${{ format('codebuild-bpf-ci-{0}-{1}', github.run_id, github.run_attempt) }}
      - image:${{ inputs.arch == 'aarch64' && 'custom-arm-ghcr.io/kernel-patches/runner:kbuilder-debian-aarch64'
               || 'custom-linux-ghcr.io/kernel-patches/runner:kbuilder-debian-x86_64' }}
    env:
      ARCH: ${{ inputs.arch }}
      ARTIFACTS_ARCHIVE: ${{ github.workspace }}/selftests-bpf-asan-${{ inputs.arch }}-${{ inputs.toolchain_full }}.tar.zst
      KERNEL_ORIGIN: ${{ github.repository == 'kernel-patches/bpf-rc' && 'https://github.com/kernel-patches/bpf-rc.git'
                      || 'https://github.com/kernel-patches/bpf.git'
                      }}
      KERNEL_REVISION: ${{ inputs.download_sources && 'bpf-next' || github.sha }}
      REPO_ROOT: ${{ github.workspace }}/src
    steps:

      - uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github
            ci

      - name: Download bpf-next tree @ ${{ env.KERNEL_REVISION }}
        uses: libbpf/ci/get-linux-source@v4
        with:
          dest: ${{ env.REPO_ROOT }}
          repo: ${{ env.KERNEL_ORIGIN }}
          rev: ${{ env.KERNEL_REVISION }}

      - uses: libbpf/ci/patch-kernel@v4
        with:
          patches-root: '${{ github.workspace }}/ci/diffs'
          repo-root: ${{ env.REPO_ROOT }}

      - name: Setup build environment
        uses: libbpf/ci/setup-build-env@v4
        with:
          arch: ${{ inputs.arch }}
          gcc-version: ${{ inputs.gcc_version }}
          llvm-version: ${{ inputs.llvm_version }}

      - uses: actions/download-artifact@v4
        with:
          name: vmlinux-${{ inputs.arch }}-${{ inputs.toolchain_full }}
          path: ${{ env.REPO_ROOT }}

      - name: Untar artifacts
        working-directory: ${{ env.REPO_ROOT }}
        run: zstd -d -T0 vmlinux-${{ inputs.arch }}-${{ inputs.toolchain_full }}.tar.zst --stdout | tar -xf -

      - name: Build selftests/bpf/test_progs with ASAN
        uses: libbpf/ci/build-selftests@v4
        env:
          KBUILD_OUTPUT: ${{ env.REPO_ROOT }}/kbuild-output
          SELFTESTS_BPF_ASAN: 'true'
          SELFTESTS_BPF_TARGETS: 'test_progs'
        with:
          arch: ${{ inputs.arch }}
          kernel-root: ${{ env.REPO_ROOT }}
          llvm-version: ${{ inputs.llvm_version }}
          toolchain: ${{ inputs.toolchain }}

      - name: Tar artifacts
        id: tar-artifacts
        uses: libbpf/ci/tar-artifacts@v4
        env:
          ARCHIVE_BPF_SELFTESTS: 'true'
          ARCHIVE_KBUILD_OUTPUT: '' # emptystring means false
        with:
          arch: ${{ inputs.arch }}
          archive: ${{ env.ARTIFACTS_ARCHIVE }}
          kbuild-output: ${{ env.REPO_ROOT }}/kbuild-output
          repo-root: ${{ env.REPO_ROOT }}

      - uses: actions/upload-artifact@v4
        with:
          name: selftests-bpf-asan-${{ inputs.arch }}-${{ inputs.toolchain_full }}
          if-no-files-found: error
          path: ${{ env.ARTIFACTS_ARCHIVE }}

  test:
    name: test_progs ASAN
    runs-on: ${{ fromJSON(inputs.runs_on) }}
    needs: [build]
    timeout-minutes: 100
    env:
      ARCH: ${{ inputs.arch }}
      REPO_ROOT: ${{ github.workspace }}
      REPO_PATH: ""
      DEPLOYMENT: ${{ github.repository == 'kernel-patches/bpf' && 'prod' || 'rc' }}
      ALLOWLIST_FILE: /tmp/allowlist
      DENYLIST_FILE: /tmp/denylist
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
            ci

      - uses: actions/download-artifact@v4
        with:
          name: vmlinux-${{ inputs.arch }}-${{ inputs.toolchain_full }}
          path: ${{ env.REPO_ROOT }}

      - name: Untar vmlinux
        working-directory: ${{ env.REPO_ROOT }}
        run: zstd -d -T0 vmlinux-${{ inputs.arch }}-${{ inputs.toolchain_full }}.tar.zst --stdout | tar -xf -

      - uses: actions/download-artifact@v4
        with:
          name: selftests-bpf-asan-${{ inputs.arch }}-${{ inputs.toolchain_full }}
          path: ${{ env.REPO_ROOT }}

      - name: Untar test_progs ASAN
        working-directory: ${{ env.REPO_ROOT }}
        run: zstd -d -T0 selftests-bpf-asan-${{ inputs.arch }}-${{ inputs.toolchain_full }}.tar.zst --stdout | tar -xf -

      - name: Run selftests
        uses: libbpf/ci/run-vmtest@v4
        env:
          ARCH: ${{ inputs.arch }}
          DEPLOYMENT: ${{ env.DEPLOYMENT }}
          LLVM_VERSION: ${{ inputs.llvm_version }}
          SELFTESTS_BPF: ${{ github.workspace }}/selftests/bpf
          SELFTESTS_BPF_ASAN: 'true'
          VMTEST_CONFIGS: ${{ github.workspace }}/ci/vmtest/configs
          VMTEST_MEMORY: 5G
          VMTEST_NUM_CPUS: 4
          TEST_PROGS_WATCHDOG_TIMEOUT: 600
        with:
          arch: ${{ inputs.arch }}
          vmlinuz: '${{ github.workspace }}/vmlinuz'
          kernel-root: ${{ env.REPO_ROOT }}
          kernel-test: test_progs
          kbuild-output: ${{ env.REPO_ROOT }}/kbuild-output
