name: veristat_cilium

on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
        description: The architecture to build against, e.g x86_64, aarch64, s390x...
      toolchain_full:
        required: true
        type: string
        description: Toolchain identifier, such as llvm-20
      runs_on:
        required: true
        type: string
        description: The runners to run the test on. This is a json string representing an array of labels.

jobs:

  veristat:
    name: veristat-cilium
    runs-on: ${{ fromJSON(inputs.runs_on) }}
    permissions:
        id-token: write
        contents: read
    env:
      KERNEL: LATEST
      REPO_ROOT: ${{ github.workspace }}
      REPO_PATH: ""
      KBUILD_OUTPUT: kbuild-output/
      ARCH_AND_TOOL: ${{ inputs.arch }}-${{ inputs.toolchain_full }}
      VERISTAT_DUMP_LOG_ON_FAILURE: 'true'
      VERISTAT_TARGET: cilium
      CILIUM_BUILD_OUTPUT: ${{ github.workspace }}/cilium-build-output
      CILIUM_BPF_RELEASE_REPO: 'puranjaymohan/cilium-bpf-progs'

    steps:

      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
            ci

      - name: Download kernel build artifacts
        uses: actions/download-artifact@v4
        with:
          name: vmlinux-${{ env.ARCH_AND_TOOL }}
          path: .

      - name: Untar kernel build artifacts
        run: zstd -d -T0  vmlinux-${{ env.ARCH_AND_TOOL }}.tar.zst --stdout | tar -xf -

      - name: Download cilium BPF programs
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: .github/scripts/download-gh-release.sh ${{ env.CILIUM_BPF_RELEASE_REPO }} ${{ env.CILIUM_BUILD_OUTPUT }}

      - name: Run veristat
        uses: libbpf/ci/run-vmtest@v4
        with:
          arch: x86_64
          vmlinuz: '${{ github.workspace }}/vmlinuz'
          kernel-root: '.'
          kernel-test: 'run_veristat'
          output-dir: '${{ github.workspace }}'

      - name: Compare and save veristat.cilium.csv
        uses: ./.github/actions/veristat_baseline_compare
        with:
          veristat_output: veristat-cilium
          baseline_name: ${{ env.ARCH_AND_TOOL}}-baseline-veristat-cilium
